@font-face {
  font-family: 'AvenirNextLTPro-Regular';
  src: url('../font/AvenirNextLTPro-Regular.eot?#iefix') format('embedded-opentype'),  url('../font/AvenirNextLTPro-Regular.otf')  format('opentype'),
	     url('../font/AvenirNextLTPro-Regular.woff') format('woff'), url('../font/AvenirNextLTPro-Regular.ttf')  format('truetype'), url('../font/AvenirNextLTPro-Regular.svg#AvenirNextLTPro-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'AvenirNextLTPro-Bold';
  src: url('../font/AvenirNextLTPro-Bold.eot?#iefix') format('embedded-opentype'),  url('../font/AvenirNextLTPro-Bold.otf')  format('opentype'),
	     url('../font/AvenirNextLTPro-Bold.woff') format('woff'), url('../font/AvenirNextLTPro-Bold.ttf')  format('truetype'), url('../font/AvenirNextLTPro-Bold.svg#AvenirNextLTPro-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'AvenirNextLTPro-Regular';
  color: #e3e3e3;
  background: #222629;
  line-height: 1.1;
  margin:0;
  padding:0;
  height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
    background: rgba(255,255,255,0);
}

a.bg_link {
  color: #fff;
  text-decoration: none;
  background: rgba(0, 123, 255, 1);
  padding: 0.6rem 1rem 0.3rem 1rem;
  transition: all 0.2s ease-out;
  position: relative;
}

a.bg_link:hover {
  color: #fff;
  text-decoration: none;
  background: rgba(0, 123, 255, 1);
  padding: 0.6rem 1rem 0.3rem 1rem;
  transition: all 0.2s ease-out;
  position: relative;
}

h1 {
  font-size: 2.8rem;
  font-family: 'AvenirNextLTPro-Bold';
  max-width: 75rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 1rem;
}

h4 {
  font-size: 1.2rem;
  color: #6D6D6D;
}

.upper-space-big {
    margin-top: 1rem;
}

p {
  font-size: 1.5rem;
  line-height: 1.5;
}

strong {
    font-family: 'AvenirNextLTPro-Bold';
}

.underline {
    border-bottom: 0.4rem solid rgba(0, 123, 255, 1); /* #ffb23e */
}

.hello {
  padding: 40px 0;
  top: 25.5em;
  max-width: 48rem;
}

.contact {
    margin-top: 1rem;
    font-size: 1.8rem;
    line-height: 3.2rem;
}
.contact a {
    font-size: 1.2rem;
    border-radius: 3px;
}

.container-fluid {
  padding: .03rem 4rem;
}

.myfooter {
  height: 160px;
  background: #252B2F;
  border-radius: 7px;
  padding: 15px;
  margin: 15px;
  bottom: 0;
  width: 98%;
}

.nav {
  height: 80px;
  background: #252B2F;
  border-radius: 7px;
  padding: 15px 15px;
  margin: 15px 15px;
  bottom: 0;
  width: 98%;
}

.nav-link {
  padding: 1.1rem 0;
}

#portrait {
  width: 200px;
  border-style: solid;
  border-width: 12px;
  border-radius: 100%;
  border-color: rgba(45, 51, 56, 1);
  margin: 20px;
}
