<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="css/style.css"/>
    <title>Hello, world!</title>
  </head>
  <body>
    <div id="mybody">
      <h2 class="upper-space-big">I'm working on</h2>
      <h1>
        <span class="typer" id="some-id" data-delay="75" data-delim=" || " data-deleteDelay="4000"
        data-words="Deep Q Network in Non-Deternimistic Simulation. || AI algorithms for solving checkers. || Using multi-threading techniques to speedup blockchain systems."
        data-colors="#ecebeb"></span>
        <span class="cursor" data-cursorDisplay="_" data-owner="some-id"></span>
      </h1>
      <div class="hello">
        <p>
          Hello, I’m <span class="underline"><a href="about.html">Jostein</a></span>, a passionate Computer Scientist studying at Edinburgh Napier University, UK.
          <br>
          <br>
          I'm very interested in using Machine Learning and AI tools to optimise agents and their algorithms.
          <br>
          <br>
          Check out my blog entries to see more of what I'm up to!
          <a href="blog.html"><button type="button" class="btn btn-light">Blog</button></a>
        </p>
      </div>
    </div>

    <div class="myfooter">
      <p>Never hesitate to reach out to me:</p>
      <p class="contact">
        <a class="bg_link" href="mailto:josdyr@gmail.com"><strong>josdyr@gmail.com</strong></a>
        <a class="bg_link" href="http://linkedin.com/in/josdyr" target="_blank"><strong>linkedin.com/in/josdyr</strong></a><br>
      </p>

      <!-- wrapper
      {{ content }}
      wrapper -->

    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script type="text/javascript" src="js/typer.js"></script>
  </body>
</html>
